body {

}


/* the container for the clouds */
.sky {
	display: flex;
	flex-direction: column;
	/* margin: auto; */
}
.sky div {
	margin: auto;
}
.cloud {
	background-image: url("images/oneBigCloud.png");
	background-size: contain;
	background-repeat: no-repeat;

	height: 200px;
	width: 200px;

	padding: 25%;
}
.cloud p {
	text-align: center;
	padding: 30%;

}
