@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Oswald&display=swap');


 body{
    background-image: url('./images/bigCloudsT.png');
    animation: cloud-move;
    animation-timing-function: linear, linear;
    animation-duration: 15s;
    animation-iteration-count: infinite, infinite;

    margin: 0px;
    background-color: #262626;

}

main {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    font-family: 'Dosis', sans-serif;
    font-size: 4.5em;
    color: #add8e6;
    text-shadow: -1vw 1vw 0 #387282, -2.1vw 2vw 0 #387282;
    text-align: center;
    /* padding-bottom: 9vw; */
    display: flex;
    justify-content: center;
}

h2{
    font-family: 'Dosis', sans-serif;
    font-size: 4.25em;
    text-align: center;
    color: #f8f8ff;
    text-shadow: -1vw 1vw 0 #d9d9d9;
    line-height: 40%;
}

nav{
    background-color: #637d85;
    font-family: 'Oswald', sans-serif;
}

.navBar{
    display: grid;
    align-items: center;
    top: 0px;
}

.navBar h3{
    color: #f8f8ff;
    display: grid;
    justify-content: space-around;
    grid-column: 1/2;
    font-size: 1.5em;
    font-weight: bold;
}

.navBar ul{
    grid-column: 2/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-evenly;
}

.navBar ul{
	padding:0;
    margin:0;
	list-style-type: none;
    font-size: 1rem;
}

.navBar ul li{
    padding:1rem;
}

.navBar a{
    text-decoration: none;
}

a:visited{
    color: #f8f8ff;
}

  
a:hover{
    color: #387282;
}


#scrollToTopBtn {
    background-color: #bfefff;
    border: none;
    border-radius: 70%;
    color: black;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    width: 48px;
    position: fixed;
    right: 25px;
    bottom: 25px;
}



@keyframes cloud-move {
    0% {
        background-position: 0}
    100% { 
        background-position: 500px, -500px ; 
    } 
} 

footer{
    background-color: #637d85;
    font-family: 'Dosis', sans-serif;
    position: relative;
    bottom: 0;
    margin: 0; 
}



nav ul{
    padding:0;
    margin:0;
    list-style-type: none;
    font-size: 1rem;
}

.footerBar{
    display: grid;
    align-items: center;
    height: 8vh;
}

.footerBar p{
    color: #f8f8ff;
    display: grid;
    justify-content: space-around;
    grid-column: 1/2;
    font-size: 1em;
    font-weight: bold;
}

.footerBar ul{
    grid-column: 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-evenly;
} 

.footerBar ul{
	padding:0;
    margin:0;
	list-style-type: none;
    font-size: 1rem;
}

.footerBar ul li{
    padding:1rem;
}

.footerBar a{
    text-decoration: none;
}


@media screen and (min-width: 813px){
    main {
        display: grid;
		grid-template-columns: repeat(2, 1fr);
    }

    h1{
        font-family: 'Dosis', sans-serif;
        font-size: 4.5em;
        color: #add8e6;
        text-shadow: -0.5vw 0.5vw 0 #387282, -1.1vw 1vw 0 #387282;
        text-align: center;
        justify-content: center;
    }


    h2{
        font-family: 'Dosis', sans-serif;
        font-size: 4em;
        text-align: center;
        color: #f8f8ff;
        text-shadow: -0.30vw 0.30vw 0 #d9d9d9;
    }


    #scrollToTopBtn {
        background-color: #bfefff;
        border: none;
        border-radius: 70%;
        color: black;
        font-size: 24px;
        font-weight: bold;
        line-height: 48px;
        width: 48px;
        position: fixed;
        right: 25px;
        bottom: 25px;
    }

    a{
        transition: all .2s ease-in-out;
      }
      
      a:hover{
        color: #387282;
        transform: scale(1.1);;
      }

    nav{
        background-color: #637d85;
        font-family: 'Oswald', sans-serif;
    }

    .navBar{
        display: grid;
        align-items: center;
        top: 0px;
    }

    .navBar h3{
        color: #f8f8ff;
        display: grid;
        justify-content: space-around;
        grid-column: 1/2;
        font-size: 2em;
        font-weight: bold;
    }

    .navBar ul{
        grid-column: 2/3;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(4, max-content);
        justify-content: space-evenly;
    }

    .navBar ul{
        padding:0;
        margin:0;
        list-style-type: none;
        font-size: 1.25rem;
    }

    .navBar ul li{
        padding:1rem;
    }

    .navBar a{
        text-decoration: none;
    }

    a:visited{
        color: #f8f8ff;
    }

  }
